* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --blur-bordas : rgba(245, 235, 225, 0.7);
  --blur-textos: rgba(5, 5, 5, .4);
  --blur-principal: rgba(15, 15, 15, .5);

}

body * {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  position: relative;
  color: rgb(197, 201, 198);
}

body {
  padding: 25px 0 0 0;
 background: linear-gradient(120deg, rgba(0, 0, 0, 0.9), rgba(139, 0, 0, 0.8), rgba(28, 28, 28, 0.9));
  background-attachment: fixed;

}

#container {
  width: 1600px;
  height: 800px;
  height: 1200px;
  margin: 0 auto;
 
  /* border: 1px solid red; */
}

#quadrado-blur {
  width: 1600px;
  height: 800px;
  margin: 0px auto;/* margin: auto 100px auto 100px; */
  border-radius: 15px;
  border: 4px solid var(--blur-bordas);
  background-color: var(--blur-principal);
}

#apresentacao {
  font-weight: 900;
}

#blur-apresentacao {
  position: relative;
  border: 4px solid var(--blur-bordas);
  width: 700px;
  height: 193px;
  border-radius: 15px 0 0 0;
}

#apresentacao .foto-de-perfil img{
  margin: auto;
  width: 16rem;
  height: 185px;
  border-radius: 10px 25px 0 0 ;
}

#nome-lema {
  position: absolute;
}

#nome-lema .nome {
  bottom: 200px;
  left: 275px;
  font-size: 35px;
  text-decoration: underline;
}

#nome-lema .lema {
  color: rgb(100, 100, 100);
  left: 275px;
  bottom: 205px;
  font-size: 20px;
}

#icones {
  position: relative;
  color: black;
  left: 285px;
  top: -60px;
  display: flex;
  gap: 50px;
  font-size: 2.2rem;
}

#icones a {
  color: black;
  display: flex;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  transition: background .2s;
  padding: 7px;
}

#icones a:hover {
  background: var(--blur-principal);
}

#sobre-mim {
  color: #333333;
}

#blur-divisao {
  position: relative;

  width: 699px;
  height: 605px;
  top: -55px;
  border-radius: 0 0 0 25px;
}

#titulo-sobre-mim {
  padding: 15px;
}

#titulo-sobre-mim .titulo {

  font-size: 50px;
  display: block;
  text-align: center;
  text-decoration: underline;
}

#blur-texto-sobre-mim {
  position: relative;
  border-radius: 15px;
  background: var(--blur-textos);
  width: 550px;
  height: 480px;
  margin: 15px 50px 0 50px;
}

#texto-sobre-mim {
  text-align: justify;
  color: rgb(197, 201, 198)
}

#texto-sobre-mim a {
  color: rgb(197, 201, 198);
}

#texto-sobre-mim p {
  padding: 15px 15px 0 15px;
  font-size: 19px;
}

 #blur-qualidades {
  position: relative;
  border-radius: 0 0 15px 0;
  height: 400px;
  top: 390px;
  margin: 0px;
}

#blur-texto-qualidades {
  position: relative;
  bottom: 120px;
  width: 805px;
  height: 299px;
  margin: 0 0 0 745px;
  border-radius: 15px;
  background: var(--blur-textos);
  
}

#blur-qualidades .titulo-qualidades {
  border-left: 4px solid var(--blur-bordas);
  height: 414px;
  position: absolute;
  bottom: 188px;
  left: 700px;
  right: 0;
  width: 900px;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin: 0;
}

#texto-qualidades {
  color: rgb(197, 201, 198);
}

#texto-qualidades p {
  text-align: justify;
  padding: 7px 15px 0 15px;
  font-size: 18px;
}

#blur-formacoes {
  border: 4px solid var(--blur-bordas);
  border-bottom: 2px solid var(--blur-bordas);
  width: 450px;
  height: 192px;
  position: absolute;
  left: 700px;
  top:0;
}

#titulo-formacoes {
  color: rgb(197, 201, 198);
  font-size: 21px;
  display: block;
  text-align: center;
  font-size: 19px;
  margin: 2px 0 0 5px;
}

#titulo-formacoes .titulo-formacoes {
  text-decoration: underline;
}

#titulo-formacoes .texto-formacoes {
  text-align: left;
  margin: 5px 0 0 0;
}

#titulo-formacoes .formacoes {
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

#titulo-formacoes .formacoes a{
  color: #1f59ff;
}

#titulo-formacoes img{
  position: relative;
  margin: 0 3px -5px 0;

  width: 20px;
  height: 20px;
}

#titulo-formacoes .em-aprendizado {
  font-size: 16px;
  text-align: left;
}

#titulo-formacoes .em-aprendizado a{
  color: #1f59ff;
}
#blur-projetos {
  position: absolute;
  border-bottom: 2px solid var(--blur-bordas);
  border: 4px solid var(--blur-bordas);
  width: 448px;
  top: 0px;
  left: 1150px;
  height: 192px;
  border-radius: 0 15px 0 0 ;
}

#titulo-projetos {
  color: rgb(197, 201, 198);
  font-size: 21px;
  display: block;
  text-align: center;

}

#titulo-projetos .titulo-projetos {
  text-decoration: underline;
  margin: 0 0 5px 0;
}

#texto-projetos .texto-projetos{
  margin: 0 0 0 10px;
  font-size: 19px;
  text-align: left;
  text-decoration: none;
}

#titulo-projetos .projeto-rocketseat {
  font-size: 16px;
  margin: 10px 0 0 10px;
  text-align: left;
}

#titulo-projetos .projeto-rocketseat a{
  color: #1f59ff;
}

#titulo-projetos .projeto-rocketseat img{
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
}

#blur-certificados {
  position: absolute;
  border-top: 2px solid var(--blur-bordas);
  border: 4px solid var(--blur-bordas);
  width: 450px;
  top: 0px;
  left: 700px;
  top: 192px;
  height: 192px;
}

#titulo-certificados {
  color: rgb(197, 201, 198);
  font-size: 21px;
  display: block;
  text-align: center;

}

#titulo-certificados .titulo-certificados {
  text-decoration: underline;
}

#titulo-certificados .texto-certificados {
  font-size: 19px;
  text-align: left;
  text-decoration: none;
  margin: 10px 0 0 10px;
}

#titulo-certificados .link-certificado{
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  margin: 10px 0 0 10px;
}

#titulo-certificados .link-certificado a{
  color: #1f59ff;
}

#titulo-certificados .link-certificado img{
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}

#blur-objetivos-futuros {
  position: absolute;
  border-top: 2px solid var(--blur-bordas);
  border: 4px solid var(--blur-bordas);
  width: 448px;
  height: 192px;
  top: 192px;
  left: 1150px;
}

#titulo-objetivos-futuros {
  color: rgb(197, 201, 198);
  font-size: 21px;
  display: block;
  text-align: center;
  text-decoration: underline;
}

#texto-objetivos {
  margin: 10px 0 0 0;
  font-size: 19px;
  text-align: left;
}

@media (max-width: 720px) {
  #container {
    border: 1px solid yellow;
    width: 2800px;
    height: 100%;
  }

  #quadrado-blur {
    position: relative;
    margin: 0 0 0 50px;
    width: 2800px;
    height: 100%;
  }

  #blur-apresentacao {
    width: 2800px;
    height: 650px;
    border: 10px solid var(--blur-bordas);
  }

  #apresentacao .foto-de-perfil img {
    width: 800px;
    height: 642px;
  }

  #nome-lema .nome {
  bottom: 650px;
  left: 825px;
  font-size: 150px;
  text-decoration: underline;
}

  #nome-lema .lema {
  bottom: 675px;
  left: 825px;
  font-size: 90px;
  text-decoration: underline;
}

  #icones {
  position: relative;
  left: 850px;
  top: -200px;
  display: flex;
  gap: 300px;
  font-size: 160px;
}

#icones a {
  display: flex;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  transition: background .2s;
  padding: 7px;
}

#titulo-sobre-mim .titulo {
  position: relative;
  left: 1450px;
  font-size: 200px;
  display: block;
  text-align: center;
  text-decoration: underline;
}










  
}