* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blur-apresentacao: rgba(150,150,150,1);
  --blur-texto-sobre-mim: rgba(5, 5, 5, .4);
  --blur-principal: rgba(15, 15, 15, .5);
  --blur-sobre-mim: rgba(139, 139, 139, 0.616);
  --hover-apresentacao: rgba(255, 255, 255, 0.9);
}

body * {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  position: relative;
}

body {
  padding: 25px 0 0 0;
  background-image: linear-gradient(to right, rgb(227, 222, 222),rgb(151, 156, 152), rgb(93, 97, 94));
}

/* #container {
  width: 1600px;
  height: 800px;
  margin: auto 100px auto 100px;
  padding: 2rem;
  border: 1px solid red;
} */

#quadrado-blur {
  width: 1600px;
  height: 800px;
  border: 1px solid green;
  margin: auto 100px auto 100px;
  border-radius: 15px;
  border: 1px solid var(--blur-principal);
  background-color: var(--blur-principal);
}

#apresentacao {
  font-weight: 900;
}

#blur-apresentacao {
  position: relative;
  border: 1px solid var(--blur-apresentacao);
  background-color: var(--blur-apresentacao);
  width: 700px;
  max-height: 192px;
  border-radius: 25px 25px 0 0;
  
}

#apresentacao .foto-de-perfil img{
  border-radius: 15px;
  margin: auto;
  width: 16rem;
  height: 12rem;
  border-radius: 25px 25px 0 0 ;
}

#nome-lema {
  position: absolute;
}

#nome-lema .nome {
  bottom: 200px;
  left: 275px;
  font-size: 35px;
  text-decoration: underline;
}

#nome-lema .lema {
  color: rgb(100, 100, 100);
  left: 275px;
  bottom: 205px;
  font-size: 20px;
}

#icones {
  position: relative;
  color: black;
  left: 285px;
  top: -60px;
  display: flex;
  gap: 50px;
  font-size: 2.2rem;
}

#icones a {
  color: black;
  display: flex;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  transition: background .2s;
  padding: 7px;
}

#icones a:hover {
  background: var(--hover-apresentacao);
}

#sobre-mim {
  color: #333333;
}

#blur-divisao {
  position: relative;
  border: 1px solid var(--blur-sobre-mim);
  background: var(--blur-sobre-mim);
  width: 699px;
  height: 605px;
  top: -55px;
  border-radius: 0 0 0 25px;
}

#titulo-sobre-mim {
  padding: 15px;
}

#titulo-sobre-mim .titulo {
  color: black;
  font-size: 50px;
  display: block;
  text-align: center;
  text-decoration: underline;
}

#blur-texto-sobre-mim {
  position: relative;
  border: 0px solid var(--blur-texto-sobre-mim);
  border-radius: 15px;
  background: var(--blur-texto-sobre-mim);
  width: 550px;
  height: 480px;
  margin: 15px 50px 0 50px;
}

#texto-sobre-mim {
  text-align: justify;
  color: rgb(197, 201, 198)
}

#texto-sobre-mim a {
  color: rgb(197, 201, 198);
}

#texto-sobre-mim p {
  padding: 15px 15px 0 15px;
  font-size: 19px;
}